# General
XUI_DEBUG=false
XUI_DB_FOLDER=x-ui
XUI_LOG_FOLDER=x-ui
XUI_BIN_FOLDER=x-ui

# Database type: "sqlite" (default) or "mysql"
XUI_DB_TYPE=mysql

# MySQL connection (only used when XUI_DB_TYPE=mysql)
XUI_MYSQL_HOST=127.0.0.1
XUI_MYSQL_PORT=3306
XUI_MYSQL_USER=root
XUI_MYSQL_PASSWORD=changeme
XUI_MYSQL_DBNAME=x-ui
